// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// this allows for the main content to fill the full page
html {
    height: 100%;
}

// styling for the entire page
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    font-size: 28px;
    font-weight: lighter;
    min-height: 100%;
}

// simple straight forward header box

.header {
    align-items: center;
    justify-content: center;
    background: $red;
    text-align: center;
    padding: 1rem;
}

// nav to display in line and distribute evenly

.nav {
    background-color: $limegreen;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    &-list{
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        list-style: none;
        text-align: center;

        // adding responsivness to change direction so nav displays vertically

        @include media-query(mobile) {
            flex-direction: column;
        }
    }

    // using BEM :-)

    &__item {
        display: inline-block;
        position: relative;
        margin-right: 2rem;
    }
    &__link {
        text-decoration: none;
        color: $white;
    }
}

// creating a flex box inside the main area to display content side by side
.main {
    display: flex;
    flex: 1 1 auto;
    margin: -2rem;
    &-sidebar {
        display: flex;
        flex: 1;
        background-color: $purple;
        align-items: center;
        justify-content: center;
    }
    &-content {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: center;
        background-color: $orange;
    }

    // responsive to switch content to a vertical layout on mobile

    @include media-query(mobile) {
        flex-direction: column;
    }
}

// simple footer box at bottom

.footer {
    justify-content: center;
    background-color: $blue;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}